<ul id="dropdown1" class="dropdown-content hover">
  <li><a href="#!">Pendidikan</a></li>
  <li><a href="#!">Sosial</a></li>
  <li><a href="#!">Keagamaan</a></li>
  <li><a href="#!">Ekonomi</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content hover">
  <li><a href="#!">Program Anak Yatim</a></li>
  <li><a href="#!">Peduli Anak Jalanan</a></li>
  <li><a href="#!">Panti Sosial</a></li>
  <li><a href="#!">Subuh Berjama'ah</a></li>
</ul>