<div class="row grey lighten-3">
  <div class="col s4">
    <div class="center promo promo-example">
      <a class="grey-text text-brown lighten-3"><i class="material-icons large">cloud_download</i></a>
      <a class="grey-text text-brown lighten-3"><p class="promo-caption">Apa Kata Mereka Tentang Bale Kreatif</p></a>
      <a class="grey-text text-brown lighten-3"><p class="light center">
        We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
        We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
        We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
      </p></a>
      <h6 class="grey-text text-brown lighten-3">"Moch Muraz (Walikota Sukabumi)"</h6>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo promo-example">
      <a class="grey-text text-brown lighten-3"><i class="material-icons large">domain</i></a>
      <a class="grey-text text-brown lighten-3"><p class="promo-caption">Apa Kata Mereka Tentang Bale Kreatif</p></a>
      <a class="grey-text text-brown lighten-3"><p class="light center">
        By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.
        By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.
        By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.
      </p></a>
      <h6 class="grey-text text-brown lighten-3">"Marwan Hamami (Bupati Sukabumi)"</h6>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo promo-example">
      <a class="grey-text text-brown lighten-3"><i class="material-icons large">language</i></a>
      <a class="grey-text text-brown lighten-3"><p class="promo-caption">Apa Kata Mereka Tentang Bale Kreatif</p></a>
      <a class="grey-text text-brown lighten-3"><p class="light center">
        We have provided detailed documentation as well as specific code examples to help new users get started.We have provided detailed documentation as well as specific code examples to help new users get started.We have provided detailed documentation as well as specific code examples to help new users get started.
      </p></a>
      <h6 class="grey-text text-brown lighten-3">"Ahmad Heryawan, Lc (Gubernur Jawa Barat)"</h6>
    </div>
  </div>
</div>