<h1 class="current-category center"><%= params[:category] %></h1>

<% if @posts.count == 0 %>
  <div>
    <h4 class="center-align">"Kategori Berita Yang Anda Pilih Saat Ini Tidak Tersedia"</h4>
  </div>
<% else %>
	<% @posts.each do |p| %>
		<h2><%= link_to p.title, post_path(p) %></h2>
	<% end %>
<% end %>