<div class="nav-wrapper" style="background-color: #1e88e5; margin-bottom:40px; padding:10px 0" align="center" text="white">
	<h1>Bale Kreatif</h1>
</div>

<h4>Selamat Datang <%= @user.name %>!</h4>

<p>Segera konfirmasikan emailmu dengan meng-klik tautan berikut untuk melengkapi proses pembuatan akun Bale Kreatif</p>

<p><%= link_to 'Klik Untuk Konfirmasi Akun', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Jika tidak merasa mendaftar Bale Kreatif menggunakan email <%= @email %>, silakan abaikan pesan ini.</p>

<p>Enjoy!</p>

<p>The Bale Kreatif Team</p>
