<div class="nav-wrapper" style="background-color: #1e88e5; margin-bottom:40px; padding:10px 0" align="center" text="white">
	<h1>Bale Kreatif</h1>
</div>

<p>Hello <%= @resource.email %>!</p>

<p>Kami menghubungi Anda untuk memberi tahu Anda bahwa kata sandi Anda telah diubah.</p>

<p>Enjoy!</p>

<p>The Bale Kreatif Team</p>
