<div class="nav-wrapper" style="background-color: #1e88e5; margin-bottom:40px; padding:10px 0" align="center" text="white">
	<h1>Bale Kreatif</h1>
</div>

<p>Hello <%= @resource.email %>!</p>

<p>Seseorang telah meminta tautan untuk mengubah kata sandi Anda. Anda bisa melakukan ini melalui link di bawah ini.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jika Anda tidak meminta ini, mohon abaikan email ini.</p>
<p>Kata sandi Anda tidak akan berubah sampai Anda mengakses link di atas dan membuat yang baru.</p>

<p>Enjoy!</p>

<p>The Bale Kreatif Team</p>
