<div class="nav-wrapper" style="background-color: #1e88e5; margin-bottom:40px; padding:10px 0" align="center" text="white">
	<h1>Bale Kreatif</h1>
</div>

<p>Hello <%= @resource.email %>!</p>

<p>Akun Anda telah dikunci karena banyaknya upaya masuk yang tidak berhasil.</p>

<p>Klik tautan di bawah ini untuk membuka kunci akun Anda:</p>

<p><%= link_to 'Buka akun saya', unlock_url(@resource, unlock_token: @token) %></p>

<p>Enjoy!</p>

<p>The Bale Kreatif Team</p>
